# Virtual environments
venv/
*/venv/
.venv/
*/.venv/

# Python cache
__pycache__/
*/__pycache__/
*.pyc
*.pyo
*.pyd

# Vision project data and models
vision_classification_project/data/
vision_classification_project/models/

# Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# OS specific
.DS_Store
Thumbs.db

# Add any other specific files/folders you want to ignore