# content_analyzer_project/requirements.txt
tensorflow-macos==2.16.2 # Or just tensorflow-macos if the above install handles it
transformers[sentencepiece]
nltk
yake
jupyterlab
# tf-keras is likely NOT needed here